/* General styles */

body{
	margin: 0;
}

.font-color-white{
	color: #ffffff;
}

.text-shadow-black{
	text-shadow: 1px 1px 1px #000000;
}

.center-vertically{
	align-items: center;
}


/* Header section */

.header{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background-image: url(0-header.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5vh;
	padding-bottom: 5vh;
	position: relative;
}

.logo{
	width: 150px;
}

.header-texts{
	position: absolute;
	bottom: 3vh;
}

.header-texts h2,
.header-texts p{
	margin-bottom: 5vh;
}

.header-texts h2{
	font-size: 3.9vw;
}

.header-texts p{
	font-size: 2vw;
	line-height: 130%;
}

@media(min-width: 768px) and (max-width: 1024px){

	.header-texts h2,
	.header-texts p{ margin-bottom: 5vh; }
	.header-texts h2{ font-size: 5vw; }
	.header-texts p{ font-size: 2.5vw; }

}

@media(max-width: 767px){

	.header-texts h2,
	.header-texts p{ margin-bottom: 2.5vh; }
	.header-texts h2{ font-size: 6vw; }
	.header-texts p{ font-size: 3.5vw; }
}


/* Divided sections */

.divided-section{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.section-description,
.section-image{
	flex-basis: 50%;
	box-sizing: border-box;
}

.section-description{
	padding: 5%;
}

.section-description h2.section-pre-title{
	font-size: 2.3vw;
	color: #345ea6;
	border-bottom: 3px solid #d61920;
	padding-bottom: 10vh;
	margin-top: 0;
}

.section-description h2.section-title{
	font-size: 2.2vw; color: #d61920;
}

.section-description p{
	font-size: 2vw; line-height: 110%;
}

.section-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.first{
	background-image: url(1.png);
}

.second{
	background-image: url(2.png);
}

.third{
	background-image: url(3.png);
}

.fourth{
	background-image: url(4.png);
}

@media(min-width: 768px) and (max-width: 1024px){

	.section-description,
	.section-image{ flex-basis: 50%; }
	.section-description h2.section-pre-title{ font-size: 2.3vw; padding-bottom: 10vh; margin-top: 0; }
	.section-description h2.section-title{ font-size: 2.2vw; }
	.section-description p{ font-size: 2vw; line-height: 110%; }

}

@media(max-width: 767px){

	.section-description{ flex-basis: 100%; height: auto; }
	.section-image{ flex-basis: 100%; height: 300px; }
	.section-description h2.section-pre-title{ font-size: 6.2vw; padding-bottom: 5vh; margin-top: 0; }
	.section-description h2.section-title{ font-size: 6vw; color: #d61920; margin-top: 5vh; }
	.section-description p{ font-size: 3.5vw; }

}