@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* General styles */

body{
	font-family: 'Itim', cursive;
	margin: 0;
}

.font-color-white{
	color: #ffffff;
}

.font-color-blue{
	color: #345ea6;
}

.text-shadow-black{
	text-shadow: 1px 1px 1px #000000;
}

.center-vertically{
	align-items: center;
}

.blue-background{
	background-color: #345ea6;
}

.center-text{
	text-align: center;
}


/* Header section */

.header{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background-image: url(0-header.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5vh;
	padding-bottom: 5vh;
	position: relative;
}

.logo{
	width: 150px;
}

.header-texts{
	position: absolute;
	bottom: 3vh;
}

.header-texts h2,
.header-texts p{
	margin-bottom: 5vh;
}

.header-texts h2{
	font-size: 3.9vw;
}

.header-texts p{
	font-size: 2vw;
	line-height: 130%;
}

@media(min-width: 768px) and (max-width: 1024px){

	.header-texts h2,
	.header-texts p{ margin-bottom: 5vh; }
	.header-texts h2{ font-size: 5vw; }
	.header-texts p{ font-size: 2.5vw; }

}

@media(max-width: 767px){

	.header-texts h2,
	.header-texts p{ margin-bottom: 2.5vh; }
	.header-texts h2{ font-size: 6vw; }
	.header-texts p{ font-size: 3.5vw; }
}


/* Divided sections */

.divided-section{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.divided-section-final h2{
	font-size: 3.9vw;
	margin-bottom: 5vh;
}

.section-description,
.section-image{
	flex-basis: 50%;
	box-sizing: border-box;
}

.section-description{
	padding: 5%;
}

.section-description h2.section-pre-title{
	font-size: 2.3vw;
	color: #345ea6;
	border-bottom: 3px solid #d61920;
	padding-bottom: 10vh;
	margin-top: 0;
}

.section-description h2.section-title{
	font-size: 2.2vw; color: #d61920;
}

.section-description p{
	font-size: 2vw; line-height: 110%;
}

.section-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.first{
	background-image: url(1.png);
}

.second{
	background-image: url(2.png);
}

.third{
	background-image: url(3.png);
}

.fourth{
	background-image: url(4.png);
}

@media(min-width: 768px) and (max-width: 1024px){

	.section-description,
	.section-image{ flex-basis: 50%; }
	.section-description h2.section-pre-title{ font-size: 2.3vw; padding-bottom: 10vh; margin-top: 0; }
	.section-description h2.section-title{ font-size: 2.2vw; }
	.section-description p{ font-size: 2vw; line-height: 110%; }
	.divided-section-final h2{ font-size: 5vw; }

}

@media(max-width: 767px){

	.section-description{ flex-basis: 100%; height: auto; }
	.section-image{ flex-basis: 100%; height: 300px; }
	.section-description h2.section-pre-title{ font-size: 6.2vw; padding-bottom: 5vh; margin-top: 0; }
	.section-description h2.section-title{ font-size: 6vw; color: #d61920; margin-top: 5vh; }
	.section-description p{ font-size: 3.5vw; }
	.divided-section-final h2{ font-size: 6vw; margin-bottom: 2.5vh; }

}


/* Wide sections */

.wide-section{
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;	
	display: flex;
	flex-wrap: wrap;
}

.wide-section h2{
	font-size: 3.9vw;
	margin-bottom: 5vh;
}

.wide-section p{
	font-size: 2vw;
	line-height: 130%;
}

.wide-section .inner-box_10px-padding-sides{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.wide-section .inner-box_5wv-padding-sides{
	width: 100%;
	padding-left: 5vw;
	padding-right: 5vw;
}

.icons-box{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 9vh;
}

.icon-box{
	flex-basis: 20%;
	display: flex;
}

.icon-description{
	flex-basis: 80%;
}

.icon-description p{
	margin: 0;
	font-size: 1.6vw;
	line-height: 110%;
}

.buttons-box{
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	flex-wrap: wrap;
}

.buttons-box .red-button{
	background-color: #d61920;
	color: #ffffff;
	padding: 10px;
	margin: 10px;
	text-align: center;
	min-width: 300px;
	max-width: 500px;
	width: 50%;
	text-decoration: none;
	border-radius: 25px;
	font-size: 2vw;
	line-height: 130%;
}

.buttons-box .red-button:hover{
    background-color: #e70b13;
}

@media(min-width: 768px) and (max-width: 1024px){
	
	.wide-section h2{ font-size: 5vw; }
	.wide-section p{ font-size: 2.5vw; }
	.icon-description p{ font-size: 2vw; }
	.buttons-box .red-button{ font-size: 2.5vw; }
	
}

@media(max-width: 767px){
	
	.wide-section h2{ font-size: 6vw; margin-bottom: 2.5vh; }
	.wide-section p{ font-size: 3.5vw; }
	.icon-box{ flex-basis: 100%; display: flex; }
	.icon-box img{ margin-bottom: 5vh; }
	.icon-description{ flex-basis: 100%; font-size: 3vw; }
	.buttons-box .red-button{ font-size: 3.5vw; width: 100%; }
	
}


/* Footer */

.policy{
	margin-top: 8vh;
	margin-bottom: 0;
}

.policy a{
	font-size: 1.2vw;
	line-height: 130%;
	color: #000000;
	text-decoration: none;
}

.policy a:hover{
	text-decoration: underline;
}

@media(min-width: 768px) and (max-width: 1024px){
	
	.policy a{ font-size: 2vw; }

}

@media(max-width: 767px){

	.policy a{ font-size: 3vw; }

}